<div class="flex flex-col h-screen w-screen relative">
  <button class="close-button absolute top-8 right-4 text-gray-600 hover:text-gray-800 z-10 text-xl" (click)="close()">
    <i class="fas fa-times"></i>
  </button>
  <div id="scanner" class="scanner w-full"></div> 
  <ng-container *ngIf="!isSingleScan">
    <div class="previous-scanned-data mt-4 mx-4" *ngIf="scanResult.length">
      <h4 class="text-lg font-medium">Scanned Data</h4>
      <ng-container *ngFor="let scanResultData of scanResult">
        <p class="text-md mb-2">{{ scanResultData }}</p>
      </ng-container>
    </div>
    <div class="complete-button mt-4 mx-4" *ngIf="scanResult.length">
      <button class="block w-full px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600" (click)="complete()">Complete</button>
    </div> 
  </ng-container>
</div>

