.scanner-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  ngx-scanner-qrcode {
    height: 50%;
  }

  ngx-scanner-qrcode::ng-deep{
    .origin-canvas,.origin-video {
      height: 100%;
      object-fit: cover;
    }
  }

}