<div class="scanner-wrapper bg-gray-100 min-h-screen relative">
  <button class="close-button absolute top-4 right-4 text-gray-600 hover:text-gray-800 z-10 text-xl" (click)="close()">
    <i class="fas fa-times"></i>
  </button>

  <button class="close-button absolute top-16 right-4 text-gray-600 hover:text-gray-800 z-10 text-xl" (click)="toggleCamera()">
    <i class="fas fa-camera-rotate"></i>
  </button>

  
  <ngx-scanner-qrcode class="scanner w-full h-[50vh] max-h-[50vh]" #action="scanner" (event)="onScanHandler($event)" [isBeep]="false"></ngx-scanner-qrcode>
  
  <div class="scanner-buttons mt-4 mx-4" *ngIf="action.isPause">
    <button class="block w-full px-4 py-2 mb-2 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="retake()">Retake</button>
    <button class="block w-full px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="save()">{{isSingleScan ? 'Save & Close' : 'Save & Next'}}</button>
  </div>
  <div class="scanned-data mt-4 mx-4" *ngIf="currentScanResult">
    <h4 class="text-lg font-medium">Current Scanned Data</h4>
    <p class="text-md mb-2">{{ currentScanResult.value }}</p>
  </div>
  <div class="previous-scanned-data mt-4 mx-4" *ngIf="scanResult.length">
    <h4 class="text-lg font-medium">Previous Scanned Data</h4>
    <ng-container *ngFor="let scanResultData of scanResult">
      <p class="text-md mb-2">{{ scanResultData.value }}</p>
    </ng-container>
  </div>
  <div class="complete-button mt-4 mx-4" *ngIf="scanResult.length && !action.isPause">
    <button class="block w-full px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600" (click)="complete()">Complete</button>
  </div>
</div>