<div *ngIf="!isScannerOpen" class="flex justify-center flex-col items-center h-screen">
  <div class="w-72 p-4">
    <h3 class="text-2xl font-medium mb-4">Start Scanning</h3>
    <button class="w-full px-4 py-2 mb-2 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="openScanner(true, 'QR')">Scan Single QR Code</button>
    <button class="w-full px-4 py-2 mb-2 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="openScanner(false, 'QR')">Scan Series of QR Codes</button>
    <button class="w-full px-4 py-2 mb-2 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="openScanner(true, 'BAR')">Scan Single Bar Code</button>
    <button class="w-full px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="openScanner(false, 'BAR')">Scan Series of Bar Codes</button>
  </div>
  <div class="scanned-data" *ngIf="results.length > 0">
    <div class="w-72 p-4">
      <h4 class="text-2xl font-medium mb-4">Scanned Data</h4>
      <ul>
        <li *ngFor="let result of results; let i = index">
          <input class="input-field w-full appearance-none border rounded py-2 px-3" [(ngModel)]="results[i]" />
        </li>
      </ul>
    </div>
  </div>
</div>


<app-scanner-plugin *ngIf="isScannerOpen" (onScanComplete)="onScan($event)" [isSingleScan]="isSingleScan" [scannerType]="scannerType"></app-scanner-plugin>






